page{
  color:#333;
  font-size: 24rpx;
  height: 100%;
}
.index{
min-height: 100%;
}

.bg-white {
  background: #fff;
}


.f10 {
  font-size: 20rpx;
}

.f12 {
  font-size: 24rpx;
}

.f14 {
  font-size: 28rpx;
}

.f15 {
  font-size: 30rpx;
}

.f13 {
  font-size: 26rpx;
}

button:after{
  border:none;
}
/*.......................外边距.......................*/

.mt-20 {
  margin-top: 40rpx;
}

.mb-20 {
  margin-bottom: 40rpx;
}

.ml-10 {
  margin-left: 20rpx;
}

.ml-20 {
  margin-left: 40rpx;
}


.mt-10 {
  margin-top: 20rpx;
}

.mb-10 {
  margin-bottom: 20rpx;
}



//垂直居中
.alignCenter {
  display: flex;
  align-items: center;
}

//水平居中
.text-c {
  text-align: center;
}


::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}

//列表找不到空白页面
.empty-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.image-tip {
  display: block;
  width: 180rpx;
  height: 180rpx;
}

.tip-text {
  margin-top: 10rpx;
  font-size: 28rpx;
  color: #7f7f7f;
  text-align: center;
}


//列表
.action {
  display: flex;
  height: 100%;
  background: #5cadff;
  justify-content: center;
  align-items: center;
}

.swipe {
  box-shadow: 0 8rpx 16rpx -8rpx rgba(0, 0, 0, 0.4);
  border: 1px solid #dddee1;
  margin: 30rpx;
  border-radius: 20rpx;

  .i-swipeout {
    border-top: 1px solid #dddee1;
    margin-top: 20rpx;
    border-radius: 0 0 20rpx 20rpx;
  }

  .swipe-tip {
    margin-top: 20rpx;
    font-size: 26rpx;
    color: #80848f;
    text-align: center;
  }

  .swipe-title {
    font-size: 34rpx;
    color: #ed3f14;
    margin-bottom: 10rpx;

    text {
      margin-left: 8rpx;
    }
  }

  .swipe-content {
    color: #495060;
  }
}